<!DOCTYPE html>
<html>
  <head>
    <title>AgendaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Unicarioca</a>
    </nav>
    <div class="container-fluid">
      <%= render "shared/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
